.page-cta{
    margin-top: 1em;

    @include MQ(L){
        margin-top: 3em;
    }
}

.section-title{
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5em;
    color: #818181;
    margin-bottom: 1rem;
    
    @include MQ(M){
        font-size: 0.9rem;
    }
    
    &.form-title{
        color: $dashboard_blue;
    }
}

.article-header{
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
}

.news-bar-title{
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
    
    a{
        color: white;
        
        i{
            transition: all 0.3s ease;
        }
        
        &:hover{
            i{
                color: $primary;
                transition: all 0.3s ease;
            }
        }
    }
}

.page-header-space{
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    
    @include MQ(L){
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.plan-header-space{
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
    
    @include MQ(L){
        padding-top: 100px;
        padding-bottom: 80px;
    }
    
    .plan-title{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 0.7em;

        @include MQ(L){
            font-size: 3rem;
        }
    }

    .plan-subtitle{
        font-weight: 300;
        line-height: 1.8em;
        
        margin-bottom: 1em;

        @include MQ(L){
            margin-bottom: 2em;
        }
    }

    .plan-cta{
        
    }
    
    .plan-icon{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        
        background-color: white;
        padding: 1.5rem;
        box-shadow: 0px 3px 15px 0 rgba(46, 61, 73, 0.2);
        border-radius: 50%;
        
        img{
            width: 3rem;
            
            @include MQ(L){
                width: 4rem;
            }
        }
    }
}

.plan-article{
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #bebdbd;

    @include MQ(M){
        padding-bottom: 1.9rem;
        margin-bottom: 1.9rem;
    }
    
    &:last-child{
        padding-bottom: 0;
        margin-bottom: 0;
        border-bottom: 0;
    }
    
    .title{
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.7em;
        margin-bottom: 1em;
        
        @include MQ(M){
            font-size: 1.4rem;
            margin-bottom: 0;
        }
    }
}

.section-space{
    padding-top: 40px;
    padding-bottom: 40px;
    
    @include MQ(L){
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    &.lg{
        @include MQ(L){
            padding-top: 120px;
            padding-bottom: 120px;
        }
    }
}

.form-section-space{
    padding-top: 40px;
    padding-bottom: 40px;
    
    @include MQ(L){
        padding-top: 40px;
        padding-bottom: 80px;
    }
    
    &.lg{
        @include MQ(L){
            padding-top: 120px;
            padding-bottom: 120px;
        }
    }
}

.video-strip{
    iframe{
        @include MQ(L){
            width: 100%;
            height: 380px;
        }
    }
}

.cart-list{
    .cart-item{
        display: flex;
        padding-bottom: 1.5em;
        margin-bottom: 1.5em;
        border-bottom: 1px solid gainsboro;

        figure{
            img{
                height: 4em;
            }
        }

        .product-info{
            flex: 1;
            padding-left: 2em;

            .name{
                font-size: 0.8rem;
                font-weight: 500;
                line-height: 1.2em;
                color: #ababab;
                margin-bottom: 0.75em;
            }

            .price{
                font-size: 0.9em;
                font-weight: 600;
                margin-bottom: 1em;
            }

            .quantity-wrapper{
                display: flex;
                
                .text-item{
                    font-size: 0.8em;
                    
                    >*{
                        display: inline-block;
                    }
                    
                    .label{
                        color: #ababab;
                        padding-right: 10px;
                    }
                    
                    .value{
                        font-weight: 500;
                    }
                }

                .volume{
                    padding-right: 0.5em;

                    .dd-select{

                        .dd-selected{
                            padding: 5px;
                        }

                        .dd-selected-text{
                            font-size: 0.75em;
                            font-weight: 400;

                        }
                    }

                    .dd-option {
                        font-size: 0.75rem;
                    }
                }

                .quantity{
                    .min-add-button {
                        display: inline-flex;
                        font-size: 0.75rem;
                        border: 1px solid gainsboro;

                        >*{
                            padding: 5px;
                        }

                        a {
                            display: inline-flex;
                            align-items: center;
                            color: dimgray;

                            &:hover {
                                background: $secondary;
                                color: white;
                            }
                        }

                        input {
                            width: 3rem;
                            text-align:center;
                            outline: none;
                            border: 0;
                            border-radius: 0;
                            border-left: 1px solid gainsboro;
                            border-right: 1px solid gainsboro;
                        }

                    }
                }
            }
        }

        .remove{
            padding-left: 1em;
        }
    }
}

.cart-subtotal{
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    
    .label{
        color: #ababab;;
    }

}

.cart-total{
    display: flex;
    justify-content: space-between;
    font-size: 1em;
    
    .label{
        color: #ababab;;
    }

    .value{
        font-size: 1.1em;
        font-weight: 600;
    }
}

.dashboard-card{
    flex: 1;
    background-color: white;
    box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    padding: 20px;
    
    &.primary{
        background-color: $primary;
    }
    
    &.secondary{
        background-color: $secondary;
    }    
    
    &.accent{
        background-color: $accent;
    }
    
    @include MQ(M){
        padding: 40px;
        
        &.sm{
            padding: 20px; 
        }
    }
    
    &.lg{
        padding: 0;
        background-color: transparent;
        box-shadow: none;
        
        @include MQ(L){
            padding: 40px;
            background-color: white;
            box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.25);
        } 
    }
}

.list-card{
    padding: 20px 20px 10px;
    margin-bottom: 15px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(74, 74, 74, 0.3);
    
    @include MQ(L){
        padding: 0;
        margin-bottom: 15px;
        background-color: transparent;
        box-shadow: none;
    }
}

.outline-card {
    padding: 20px;
    border: 1px solid #E0E0E0;
    
    &.primary{
        border-color: $primary;
    }
    
    &.secondary{
        border-color: $secondary;
    }    
    
    &.accent{
        border-color: $accent;
    }
}