.main-footer{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    
    .content{
        padding: 40px 0 20px;
        
        @include MQ(M){
            padding: 80px 0 40px;
        }

        .brand{

            margin-bottom: 1.5rem;

            .logo{
                width: 5rem;

                @include MQ(M){
                    width: 6rem;
                }
            }
        }

        .footer-title{
            text-transform: uppercase;
            font-weight: 500;
            font-size: 1rem;
            color: black;
            margin-bottom: 1.5rem;

            @include MQ(M){
                margin-top: 1rem;
                margin-bottom: 2rem;
            }
        }
        
        .footer-list{
            li{
                font-size: 0.8rem;
                font-weight: 400;
                line-height: 1.7em;  
                margin-bottom: 1em;
            
                a{
                    color: $txt_light;
                }
            }
        }

        .footer-text{
            font-size: 0.85rem;
            font-weight: 300;
            line-height: 1.7em;
        }

        .contact-text{
            font-size: 0.9rem;
            font-weight: 300;
            line-height: 1.7em;

            &:last-child{
                margin-bottom: 0;
            }
        }

    }
    
    .footer-img{
        width: 12rem;
    }
}


.social-media{
    overflow: hidden;
    margin-bottom: 20px;
    padding-bottom: 15px;
    
    li{
        display: inline-block;
        margin-right: 30px;
            
        &:last-child{
            margin-right: 0;
        }
        
        a{
            display: inline-block;
            font-size: 1.6em;
            
            i{
                transition: all 0.3s ease;
                
                &:hover{
                    color: $secondary;
                    transition: all 0.3s ease;
                }
            }
        }
        

    }
}

.copyright{
    font-size: 0.7em;
    border-top: 1px solid gainsboro;
    padding: 1rem 0;
    
    @include MQ(M){
        //text-align: center;
    }
}

