.form-page-title{
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 1em;

    @include MQ(L){
        font-size: 1.25rem;
        margin-bottom: 2em;
    }

    .light{
        font-size: 0.9em;
        font-weight: 300;
    }

    .hightlight{
        font-weight: 600;
        position: relative;
        padding-bottom: 0.25em;

        &:after{
            content: "";
            position: absolute;
            bottom: 0;
            left: 8px;
            right: 8px;
            height: 2px;
            background-color: $primary;
        }


    }

    .light, .hightlight{
        display: inline-block;

        @include MQ(M){
            display: inline;
        }
    }
}

.form-wrapper{
    background-color: white;
    box-shadow: 0px 3px 15px 0 rgba(46, 61, 73, 0.2);
    padding: 40px 20px;
    
    @include MQ(M){
        padding: 40px;
    }
}

.form{
    .form-item{
        margin-bottom: 1.5em;
        
        &.lg{
            margin-bottom: 2rem;
        }
        
        .form-group{
            margin-bottom: 0;
        }
        
        label{
            display: block;
            font-size: 0.8em;
            font-weight: 600;
            line-height: 1.4em;
            color: $primary;
            margin-bottom: 0.75em;
        }
        
        .input-label{
            display: inline-block;
            font-weight: 500;
            color: #818181;
            margin-bottom: 0.5em;
            
            &.lg{
                font-size: 0.9em;
            }
        }
        
        .popover-link{
            display: inline-block;
            margin-left: 0.5em;
            
            &:before{
                display: block;
                content: "\f059";
                font-family: Fontawesome;
                color: $dashboard_blue;
            }
        }
        
        .validation-error, .invalid-feedback{
            display: none;
            font-weight: 400;
            font-size: 0.7rem;
            color: $primary;
            margin-top: 0.5em;
        }
        
        input, select, textarea{
            display: block;
            width: 100%;
            outline: none;
            box-shadow: none;
            border: 1px solid gainsboro;
            border-radius: 0.4rem;
            font-weight: 500;
            font-size: 0.8rem;
            color: black;
            padding: 0.8em;
            transition: all 0.4s ease;
            
            &:focus{
                border-color: $secondary;
                transition: all 0.4s ease;
            }
            
            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
              color: #818181;
              opacity: 1; /* Firefox */
            }

            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
              color: #818181;
            }

            &::-ms-input-placeholder { /* Microsoft Edge */
              color: #818181;
            }
        }
        
        textarea{
            line-height: 1.4rem;
        }
        
        &.error{
            input, select, textarea{
                border-color: $primary;
            }
            .validation-error{
                display: block;
            }
        }
        
        &.required{
            label{
                &:after{
                    content: "*";
                }
            }
        }
        
        /* Select2 */
        .select2-container {
            width: 100% !important;
        }
        .select2, .select2-selection__placeholder, .select2-selection__rendered{
            font-size: 0.9em;

        }

        .select2-selection__rendered{
            line-height: 1em !important;
            padding: 0.75em;
        }

        .select2-container .select2-selection--single {
            height: auto;
        }

        .select2-container--focus{
            outline: none !Important;
        }
    }
    
    .form-item-radio{
        margin-bottom: 1.5em;
                
        .group-title{
            font-size: 0.8em;
            font-weight: 600;
            line-height: 1.4em;
            color: $primary;
            margin-bottom: 1.5em;
        }
        
        .radio-group{
            display: inline-flex;
            align-items: center;
            margin-right: 2em;
            margin-bottom: 1em;
            
            .radio-label{
                font-size: 0.9em;
                margin-left: 1em;
                cursor: pointer;
            }
        }
        
    }
    
    .total-label{
        background-color: $dashboard-blue;
        font-weight: 500;
        font-size: 0.9rem;
        color: white;
        padding: 0.8em;
        margin-bottom: 1rem;
        display: flex;
        
        .label{
            margin-right: 1em;
            font-weight: 300;
            flex: 1;
        }
        
        .value{
            flex: 1;
            font-weight: 500;
        }
        
        @include MQ(M){
            font-size: 1rem;
        }
    }
    
    .invalid-feedback{
        display: none;
        font-weight: 400;
        font-size: 0.7rem;
        color: $primary;
        margin-top: 0.5em;
    }
    
    .custom-control{
        padding-left: 2.5rem;
    }
    
    .custom-checkbox{
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        
        .custom-control-label{
            font-size: 0.8rem;
            font-weight: 500;
            line-height: 1.5em;
            
            a{
                color: $accent;
            }
        }
        
    }
    
    //
    
    .custom-control-label::before {
        background-color: transparent;
        border: 1px solid grey;
        cursor: pointer;
        border-radius: 2px;
        top: .1rem;
    }
    
    .custom-control-input:focus~.custom-control-label::before{
      box-shadow:none;
    }
    
    .custom-control-label::after{
        cursor: pointer;
    }
    
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
        background-color: $secondary;
        border-color: $secondary;
        
    }

    .custom-control-input:checked~.custom-control-label::before {
        color: #fff;
        background-color: $secondary;
        border-color: $secondary;
        outline: 0;
        box-shadow: 0;
    }
    
    .custom-control-input.is-invalid~.custom-control-label::before, .was-validated .custom-control-input:invalid~.custom-control-label::before {
        background-color: transparent;
        border-color: $primary;
    }
    
    //
    
    
    
    .form-submit{
        margin-top: 0.5em;
        
        input{
            
        }
    }
}

.popover{ 
    border: 0;
}
    
.popover-body {
    font-size: 0.7rem;
    color: white;
    background-color: $dashboard_blue;
}

.bs-popover-auto[x-placement^=top] .arrow::after, .bs-popover-top .arrow::after {
    bottom: 1px;
    border-top-color: $dashboard_blue;
}

.popover-link{
    outline: none;
}

.no-m-b{
    margin-bottom: 0 !important;
    display: inline-block !important;
}

.dropzone{
    padding: 0;
    border: 1px solid gainsboro;
    border-radius: 0.4rem;

    .upload-wrapper, .dropzone-previews, .dz-default{
        font-weight: 400;
        font-size: 0.9rem;
        color: $dashboard_blue;
        padding: 0.5em 0.5em;
    }

    .dz-image{
        border-radius: 0 !important;
    }

    .dz-preview{
        margin: 4px !important;
    }
}


.file-upload{
    display: inline-block;
    position: relative;
    
    input{
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 99;
        margin: 0;
        padding: 0;
        display: block;
        cursor: pointer;
        width: 100%;
    }
    
    .select-file{
        display: inline-block;
        padding: 0.75em;
        background-color: #DEEDFF;
        border-radius: 0.5em;
    }
    
    .file-preview{
        display: inline-block;
        display: none;
        position: relative;
        z-index: 100;
        
        .preview{
            display: inline-flex;
            background-color: $primary;
            border-radius: 0.25em;
            overflow: hidden;
            
            .file{
                padding: 0.75em 1.5em;
            }
            
            .trash{
                padding: 0.75em;
                background-color: $secondary;
                cursor: pointer;
            }
        }
        
        .name{
            display: block;
            font-size: 0.8em;
            padding-top: 0.5em;
        }
    }
}

.file-preview-widget{
    display: inline-block;
    position: relative;
    
    .file-preview{
        display: inline-block;
        position: relative;
        z-index: 100;
        
        .preview{
            display: inline-flex;
            background-color: $primary;
            border-radius: 0.25em;
            overflow: hidden;
            
            .file{
                padding: 0.75em 2em;
            }
        }
        
        .name{
            display: block;
            font-size: 0.8em;
            padding-top: 0.5em;
        }
    }
}

/*
*
*
*    
*
*/