.image-bg{
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    
    &.fixed{
        min-height: 380px;
        //background-attachment: fixed;
    
        @include MQ(M){
            min-height: 420px;
        }
    }
}

.home-gallery{
    position: relative;
    overflow: hidden;
    
    
    .swiper-slide{
        min-height: 380px;
        display: flex;
        align-items: center;
        
        background-color: $blue;
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: black;
            opacity: 0.4;
            z-index: 0;
        }
        
        .container-wrapper{
            position: relative;
            z-index: 10;
        }
        
        @include MQ(M){
            min-height: 480px;
        }
    }
    
    .swiper-pagination-home{
        position: absolute;
        bottom: 20px;
        right: 0;
        left: 0;
        text-align: center;
        z-index: 10;
    }
    
    .swiper-pagination-bullet {
        width: 14px;
        height: 14px;
        display: inline-block;
        border-radius: 100%;
        background: #fff;
        border: 2px solid white;
        opacity: 1;
        background-color: transparent;
        transition: all 0.3s ease;
        
        &:hover{
            background-color: white;
            transition: all 0.3s ease;
        }
    }
    
    .swiper-container-horizontal>.swiper-pagination-bullets {
        bottom: 10px;
        left: auto;
        width: 50%;
        right: 0;
    }
    
    .swiper-pagination-bullet-active{
        background-color: white;
    }
    
    
    .content{
        position: relative;
        
        @include MQ(M){
            width: 75%;
        }
        
        .caption{
            font-size: 0.9em;
            line-height: 1.5em;
            font-weight: 400;
            letter-spacing: 0.1em;
            
            @include MQ(L){
                font-size: 1em;
            }
        }
        
        .title{
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.1em;
            margin-bottom: 15px;
            
            @include MQ(M){
                font-size: 3em;
            }
        }
    }
}

.page-hero{
    min-height: 380px;
    display: flex;
    align-items: flex-end;

    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;

    &.v-center{
        align-items: center;
    }
    
    &>*{
        flex: 1;
    }

    @include MQ(M){
        min-height: 480px;
        
        &.md{
            min-height: 380px;
        }
    }
    
    .content{
        position: relative;
        
        @include MQ(M){
            width: 75%;

            &.full-width{
                width: 100%;
            }
        }
        
        .caption{
            font-size: 0.9em;
            line-height: 1.5em;
            font-weight: 400;
            letter-spacing: 0.1em;
            
            @include MQ(L){
                font-size: 1.2em;
            }
        }
        
        .title{
            font-size: 2em;
            font-weight: 300;
            line-height: 1.2em;
            margin-bottom: 30px;
            
            @include MQ(M){
                font-size: 2.5em;
            }
        }
    }
}

.program-wrapper{
    padding-left: 15px;
    padding-right: 15px;
    
    @include MQ(M){
        padding-left: 120px;
        padding-right: 80px;
    }
}

.program-hero{
    min-height: 280px;
    display: flex;
    align-items: flex-end;

    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;

    &.v-center{
        align-items: center;
    }
    
    &>*{
        flex: 1;
    }

    @include MQ(M){
        min-height: 340px;
    }
    
    .content{
        position: relative;
        
        @include MQ(M){
            width: 75%;

            &.full-width{
                width: 100%;
            }
        }
        
        .caption{
            font-size: 0.9em;
            line-height: 1.5em;
            font-weight: 400;
            letter-spacing: 0.1em;
            
            @include MQ(L){
                font-size: 1rem;
            }
        }
        
        .title{
            font-size: 2.5rem;
            font-weight: 300;
            text-transform: uppercase;
            line-height: 1.2em;
            margin-bottom: 10px;
            
            @include MQ(M){
                font-size: 3.5rem;
            }
        }
    }
}

.program-bar{
    display: flex;
    align-items: center;
    background-color: $primary;
    padding: 10px 20px;


    .flag{
        img{
            width: 120px;
        }
    }

    .highlight{
        padding-left: 20px;
        p{
            font-size: 0.9rem;
            line-height: 1.4rem;
            color: white;
        }
    }
}






.home-hero{
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    
    background-image: url('../images/heroes/doodle.jpg');
    
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    text-align: center;
    
    @include MQ(L){
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    
    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: white;
        opacity: 0.95;
        z-index: 0;
    }
    
    .content{
        position: relative;
        z-index: 1;
        
        .title{
            font-size: 2.5rem;
            margin-bottom: 2rem;
            
            @include MQ(L){
                font-size: 3rem;
                margin-bottom: 3rem;
            }
            
            .light{
                font-size: 0.9em;
                font-weight: 300;
            }
            
            .hightlight{
                font-weight: 600;
                position: relative;
                padding-bottom: 0.25em;
                
                &:after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 8px;
                    right: 8px;
                    height: 2px;
                    background-color: $primary;
                }
                
                
            }
            
            .light, .hightlight{
                display: inline-block;
                
                @include MQ(M){
                    display: inline;
                }
            }
        }
        
        .subtitle{
            font-weight: 300;
            margin-bottom: 2rem;
            
            @include MQ(L){
                margin-bottom: 3rem;
            }
        }
    }
}

.form-hero{
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-color: ghostwhite;
    position: relative;
    
    @include MQ(L){
        min-height: 100vh;
    }
    
    .content{
        position: relative;
        z-index: 1;
        padding-top: 6rem;
        
        @include MQ(L){
            padding-top: 6rem;
        }
    }
}