* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
    
}

img{
    max-width: 100%;
}

body{
	background-color: white;
    position: relative;
    overflow-x: hidden;
    
    &.dim{
        
        &:after{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: black;
            opacity: 0.2
        }
    }
    
    /* Scrollbar */
    
    /* width */
    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 10px grey; 
      border-radius: 1px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: darkgrey; 
      border-radius: 4px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: gainsboro;
        cursor: grab;
    }
}

.show{
    opacity: 1;
    transition: opacity 0.3s ease;
}

.noScroll{
    overflow: hidden;
}

.overflow-hidden{
    overflow: hidden;
}

[class*='col-'], .col{
    padding: 0;
}

.main-content-ness{
   margin-top: 120px; 
}

.container-wrapper{
    padding-left: 15px;
    padding-right: 15px;
    
    @include MQ(M){
        padding-left: 80px;
        padding-right: 80px;
    }
}

.container-wrapper-left{
    padding-left: 15px;
    padding-right: 15px;
    
    @include MQ(M){
        padding-left: 80px;
        padding-right: 80px;
    }
}

.container-wrapper-right{
    padding-left: 15px;
    padding-right: 15px;
    
    @include MQ(M){
        padding-right: 80px;
        padding-left: 40px;
    }
}

.container-content{
    padding-left: 15px;
    padding-right: 15px;
    
    @include MQ(M){
        padding-left: 80px;
        padding-right: 0;
    }
}

.container-content-inverse{
    padding-left: 15px;
    padding-right: 15px;
    
    @include MQ(M){
        padding-left: 0;
        padding-right: 80px;
    }
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.centered{
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

a{
	//color: $txt_default;
    color: dimgrey;
	text-decoration: none;
	text-decoration-line: none;
    text-decoration-style: none;
    text-decoration-color: none;
    text-decoration-skip: none;
    
    transition: color 0.3s ease;
}

a::link {
    background-color: none;
}

a::visited {
    color: $dashboard_blue;
}

a:hover {
    color: $dashboard_blue;
    text-decoration: none;
    cursor: pointer;
    
    transition: color 0.3s ease;
}

a:active {
    color: $dashboard_blue;
}


//Card hover fade
.card_section:hover .card:not(:hover){
    opacity: 0.9;
}

//Bootstrap Grid Fix
.container{
    
    @include MQ(M){
        padding: 0;
    }
}

.row{
    margin: 0;
    //width: 100%;
}

.inline-block{
    display: inline-block;
}

.full-width{
    width: 100%;
}

.tooltip-inner {
    max-width: 350px;
    /* If max-width does not work, try using width instead */
    width: 350px; 
}

//Swiper
html, body {
    position: relative;
}
.swiper-container, .swiper-container-project-gallery{
    position: relative;
    width: 100%;
    height: 100%;
}

.swiper-pagination{
    text-align: center;
    padding-left: 20px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 100%;
    background: #fff;
    border: 1px solid $bg_red;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: $bg_red;
}

.grayscale{
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}